.orders {
  &__date {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 17px;
  }

  &__order {
    border-radius: 30px;
    background: #fff;
    margin-bottom: 20px;
    padding: 22px 37px 17px 20px;
    
    display: flex;
    gap: 40px;
  }

  &__order-item {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 25px;
  }

  &__order-img img {
    width: 86px;
    height: 86px;
  }

  &__order-title {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
  }

  &__order-price {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__order-new-price {
    font-weight: 400;
    font-size: 24px;
    color: #010101;
  }

  &__order-old-price {
    font-weight: 400;
    font-size: 18px;
    color: #a3a3a3;
  }

  &__orders-btn {
    cursor: pointer;
    max-width: 120px;
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    color: #000;
    padding: 9px 45px;
    margin: 0px auto;
    text-align: center;

    &:hover {
      background-color: #000;
      color: #ffffff;
    }
  }

  &__order-btn-text {
    font-weight: 600;
    font-size: 10px;
  }

  &__price {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 126px;
  }

  &__price-title {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin-bottom: 11px;
  }

  &__price-value {
    font-weight: 500;
    font-size: 18px;
    color: #000;
  }

  &__status-title {
    font-weight: 500;
    font-size: 13px;
    color: #000;
    margin-bottom: 8px;
  }

  &__status-value {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    padding: 7px 24px;

    border-radius: 5px;
    background: #5dbf39;
  }
}
