.notifications {

  &__notification {
    margin-bottom: 30px;
  }

  &__notification-title {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin-bottom: 17px;
  }

  &__inputs {
    display: flex;
    align-items: center;
    gap: 52px;
  }

  &__btn {
    cursor: pointer;
    background: #ff9e7b;
    padding: 12px 65px;
    text-align: center;

    font-weight: 600;
    font-size: 15px;
    color: #fff;

    &:hover {
      background: #ff8052;
    }

    &:active {
      background: #ff5517;
    }
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 16px;
    user-select: none;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .notifications__checkmark {
      background-color: #ff9e7b;
      border-color: #ff9e7b;
    }

    &:checked ~ .notifications__checkmark:after {
      display: flex;
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:after {
      content: '';
      display: none;
      margin-left: 6.5px;
      margin-top: 2px;
      align-items: center;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &__input-wrapper:hover &__checkmark {
    border-color: #ff9e7b;
  }
}
