.form-button {
  cursor: pointer;
  display: inline-block;
  background: #ff9e7b;
  text-align: center;
  padding: 10px;
  width: 100%;

  font-weight: 600;
  font-size: 16px;
  color: #fff;
  margin-bottom: 14px;

  &:hover {
    background: #ff8052;
  }

  &:active {
    background: #ff5517;
  }
}
