.main-slider {
  &__slider {
    height: 400px;
    border-radius: 12px;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #fe6b8b, #ff8e53);
    color: white;
    font-size: 24px;
  }
}
