.home {
  padding: 20px 0px;

  &__search-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 70px;
  }

  &__search-item {
    cursor: pointer;
    padding: 11px 14px;
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #fff;
    border-radius: 10px;
  }

  &__search-text {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main-slider {
    position: relative;
    max-width: 800px;
  }

  &__main-slider-wrapper {
    display: flex;
    align-items: center;
    border-radius: 40px;
  }

  &__main-slider-slide img {
    user-select: none;
    border-radius: 40px;
  }

  &__main-slider-slide {
    cursor: pointer;
    position: relative;
  }

  &__main-slider-info {
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 100000000;

    background-color: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 10px 20px;
  }

  &__main-slider-info-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #1a1a1a;
  }

  &__main-slider-info-text {
    font-size: 20px;
    color: #1a1a1a;
  }

  &__main-slider-prev {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 10px;
    rotate: -180deg;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(1px);
    padding: 10px 10px 10px 14px;

    & img {
      width: 15px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__main-slider-next {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 10px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(1px);
    padding: 10px 10px 10px 14px;

    & img {
      width: 15px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__addition-slider {
    max-width: 460px;
  }

  &__addition-slider-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }

  &__addition-title {
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    color: #000;
  }

  &__addition-slider-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__addition-slider-prev {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(244, 244, 244, 0.46);
    padding: 10px 14px;
    rotate: -180deg;
  }

  &__addition-slider-next {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(244, 244, 244, 0.46);
    padding: 10px 14px;
  }
}
