.product {
  padding: 30px 0px 30px 0px;

  &__upper-content {
    margin-bottom: 30px;
  }

  &__perks {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  &__perk {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding: 5px 11px;
    background-color: #2ccd6a;
    border-radius: 10px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title {
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    color: #000;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  &__icon {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon img {
    width: 30px;
    height: 30px;
  }

  &__reviews {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  &__review-img img {
    width: 30px;
    height: 30px;
  }

  &__review-info {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  &__review-value {
    font-weight: 400;
    font-size: 24px;
    color: #010101;
  }

  &__review-amount {
    font-weight: 400;
    font-size: 16px;
    color: #4b4b4b;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__img img {
    width: 603px;
    height: 603px;
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1px;
  }

  &__price-pricing {
    display: flex;
    align-items: end;
    gap: 7px;
  }

  &__new-price {
    font-weight: 400;
    font-size: 40px;
    color: #010101;
  }

  &__old-price {
    font-weight: 400;
    font-size: 26px;
    color: #a3a3a3;
    margin-bottom: 5px;
  }

  &__discount {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    padding: 3px 13px;
    background: #ff8052;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #ff5517;
      transform: scale(1.1);
    }
  }

  &__in-stock {
    font-weight: 400;
    font-size: 16px;
    color: #2ccd6a;
    margin-bottom: 30px;
  }

  &__btn {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background: #ff9e7b;
    text-align: center;
    padding: 19px 47px;
    margin-bottom: 30px;
    max-width: 280px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #ff8052;
      transform: scale(1.05);
    }

    &:active {
      background: #ff5517;
    }
  }

  &__desc-wrapper {
    margin-bottom: 20px;
  }

  &__desc-title {
    font-weight: 400;
    font-size: 25px;
    color: #010101;
    margin-bottom: 15px;
  }

  &__desc {
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    color: #000;
    max-width: 650px;
  }

  &__comp-wrapper {
    margin-bottom: 40px;
  }

  &__comp-title {
    font-weight: 400;
    font-size: 25px;
    color: #010101;
    margin-bottom: 15px;
  }

  &__comp-item {
    font-weight: 400;
    font-size: 20px;
    color: #010101;
    margin-bottom: 16px;
  }

  &__btn-back {
    max-width: 250px;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    border: 1px solid #b1b1b1;
    padding: 13px 60px;
    margin: 0px auto;

    &:hover {
      border-color: #000;
    }
  }
}
