.main-slider {
  position: relative;
  max-width: 800px;

  &__wrapper {
    display: flex;
    align-items: center;
    border-radius: 40px;
    color: #d3d3d3;
  }

  &__slide img {
    user-select: none;
    border-radius: 40px;
  }

  &__slide {
    cursor: pointer;
    position: relative;
  }

  &__info {
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 100000000;

    background-color: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 10px 20px;
  }

  &__info-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #1a1a1a;
  }

  &__info-text {
    font-size: 20px;
    color: #1a1a1a;
  }

  &__prev {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 10px;
    rotate: -180deg;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(1px);
    padding: 10px 10px 10px 14px;

    & img {
      width: 15px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__next {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 10px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(1px);
    padding: 10px 10px 10px 14px;

    & img {
      width: 15px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
