.card {
  min-height: 609px;

  &__img {
    margin-bottom: 20px;
  }

  &__img img {
    width: 320px;
    height: 320px;
  }

  &__slide-title {
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    color: #000;
    margin-bottom: 7px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 13px;
  }

  &__star {
    display: flex;
    align-items: center;
  }

  &__price-container {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__value {
    font-weight: 400;
    font-size: 20px;
    color: #010101;
  }

  &__number {
    font-weight: 400;
    font-size: 16px;
    color: #4b4b4b;
  }

  &__desc {
    max-width: 320px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }

  &__pricing {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 17px;
  }

  &__price {
    display: flex;
    gap: 5px;
  }

  &__new-price {
    font-weight: 400;
    font-size: 26px;
    color: #010101;
  }

  &__old-price {
    font-weight: 400;
    font-size: 18px;
    color: #a3a3a3;
    text-decoration: line-through;
  }

  &__btn {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
    padding: 12px 30px;
    text-align: center;
  }

  &__btn-text {
    font-weight: 400;
    font-size: 14px;
    color: #010101;
  }

  &__prev {
    cursor: pointer;
    z-index: 100;

    position: absolute;
    top: 50%;
    left: 10px;
    rotate: -180deg;

    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 10px;
  }

  &__next {
    cursor: pointer;
    z-index: 100;

    position: absolute;
    top: 50%;
    right: 10px;

    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 10px;
  }

  &__content {
    display: flex;
    justify-content: end;
    flex-direction: column;
  }

  &__info {
    margin-bottom: 30px;
  }
}
