.mini-card {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;

  &__img img {
    width: 220px;
    height: 220px;
  }

  &__title {
    max-width: 236px;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 4px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 13px;
  }

  &__star {
    display: flex;
    align-items: center;
  }

  &__price-container {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__value {
    font-weight: 400;
    font-size: 16px;
    color: #010101;
  }

  &__number {
    font-weight: 400;
    font-size: 12px;
    color: #4b4b4b;
  }

  &__desc {
    max-width: 236px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-bottom: 24px;
  }

  &__pricing {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 17px;
  }

  &__price {
    display: flex;
    gap: 5px;
  }

  &__new-price {
    font-weight: 500;
    font-size: 20px;
    color: #010101;
  }

  &__old-price {
    font-weight: 400;
    font-size: 14px;
    color: #a3a3a3;
    text-decoration: line-through;
  }

  &__btn {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
    padding: 8px 17px;
    text-align: center;
  }

  &__btn-text {
    font-weight: 400;
    font-size: 11px;
    color: #010101;
  }

  &__mini-card {
    margin-bottom: 30px;
  }
}
