.small-card {
  cursor: pointer;
  max-width: 224px;
  position: relative;

  &__like {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__img {
    margin-bottom: 20px;

    img {
      width: 224px;
      height: 224px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 13px;
  }

  &__text {
    max-width: 223px;
    font-weight: 400;
    font-size: 17px;
    color: #000;
    margin-bottom: 12px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__pricing {
    display: flex;
    align-items: end;
    gap: 6px;
  }

  &__new-price {
    font-weight: 500;
    font-size: 22px;
    color: #010101;
  }

  &__old-price {
    font-weight: 400;
    font-size: 14px;
    color: #a3a3a3;
    text-decoration: line-through;
  }

  &__btn {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
    padding: 10px 12px;
  }

  &__btn-text {
    font-weight: 400;
    font-size: 12px;
    color: #010101;
  }
}
