.title {
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom: 40px;
}

.main-content {
    display: flex;
    gap: 90px;
    margin-bottom: 42px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}